kind: Service
apiVersion: v1
metadata:
  name: csi-lvm-provisioner 
  labels:
    app: csi-lvm-provisioner
    heritage: {{ .Release.Service }}
    release: {{ .Release.Name }}
spec:
  selector:
    app: csi-lvm-provisioner 
  ports:
    - name: dummy
      port: 12345

---
kind: StatefulSet
apiVersion: apps/v1
metadata:
  name: csi-lvm-provisioner
  labels:
    heritage: {{ .Release.Service }}
    release: {{ .Release.Name }}
spec:
  serviceName: "csi-lvm-provisioner"
  replicas: 1
  selector:
    matchLabels:
      app: csi-lvm-provisioner
  template:
    metadata:
      labels:
        app: csi-lvm-provisioner
    spec:
      affinity:
        podAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
              - key: app
                operator: In
                values:
                - csi-lvmplugin
            topologyKey: kubernetes.io/hostname
      serviceAccountName: csi-provisioner
      containers:
        - name: csi-provisioner
          image: {{ .Values.provisioner.image }}
          args:
            - -v=5
            - --csi-address=/csi/csi.sock
            - --feature-gates=Topology=true
          securityContext:
            # This is necessary only for systems with SELinux, where
            # non-privileged sidecar containers cannot access unix domain socket
            # created by privileged CSI driver container.
            privileged: true
          volumeMounts:
            - mountPath: /csi
              name: socket-dir
      volumes:
        - hostPath:
            path: {{ .Values.kubernetes.kubeletPath }}/plugins/{{ .Values.lvm.storageClassStub }}
            type: DirectoryOrCreate
          name: socket-dir
