name: "CI job using metal"
on: [pull_request]

jobs:
  cijob:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: docker/setup-buildx-action@v1
      id: buildx
      with:
        install: true
    - name: Branch name
      run: echo running on branch ${GITHUB_REF##*/}
    - name: Figure out if running fork PR
      id: fork
      run: '["${{ secrets.DOCKER_HUB_TOKEN }}" == ""] && echo "::set-output name=is_fork_pr::true" || echo "::set-output name=is_fork_pr::false"'
    - name: Testing
      run: |
        export GITHUB_TAG_NAME=pr-${GITHUB_HEAD_REF##*/}
        docker login -u mwennrich -p ${{ secrets.DOCKER_HUB_TOKEN }}
        echo "${{ secrets.KUBECONFIG }}" > tests/files/.kubeconfig
        make metalci
      if: steps.fork.outputs.is_fork_pr == 'false'
